body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    width: 190px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #0073EB;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.button1 {
    background-color: #A327F5;
}

.button1:hover {
    background-color: #F5A327;
}

.button2 {
    background-color: #A6BA22;
}

.button2:hover {
    background-color: #22A6BA;
}