body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

.card {
    width: 400px;
    margin: 60px auto;
    padding: 25px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

.card h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: black;
}

.card label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #444;
}

.card input[type="text"],
.card input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.card input[type="submit"] {
    margin-top: 15px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.3s;
}

.card input[type="submit"]:hover {
    background: #4800F0;
}

.card p {
    background: #f8f9fa;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
    font-weight: bold;
}

.btn-regresar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0030F0;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
    margin-left: 20px;
}

.btn-regresar:hover {
    background-color: #4800F0;
}
